:root {
	--border-size: 100px;
}

body {
	display: flex;
	flex-flow: wrap;
	background: #000;
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-size: 0;
}

.center {
	height: calc(100% - (var(--border-size) * 2));
}

.border {
	background: url("../assets/border-tile.png");
}

#borderTop {
	width: 100%;
	height: var(--border-size);
}

#borderLeft {
	width: var(--border-size);
}

#borderRight {
	width: var(--border-size);
}

#borderBottom {
	width: 100%;
	height: var(--border-size);
}

#centerSquare {
	display: flex;
	width: calc(100% - (var(--border-size) * 2));
}

#centerSquareItem {
	height: 100%;
}
